* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --second-color: #4e6a5f;
  --third-color: #fff;
  --color-text: #636363;
  --color-text2: #fff;
  --color-text3: #636363;
  --img-fundo: url('../src/img/fundo white.png')
}
[data-theme="dark"] {
  --primary-color: #fff;
  --second-color: #4e6a5f;
  --third-color: #1A1A1A;
  --color-text: #636363;
  --color-text2: #fff;
  --color-text3: #fff;
  --img-fundo: url('../src/img/fundo dark.png')
}

body {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

.App {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: var(--img-fundo);
  background-size: 80px;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container {
  border: 2.6px solid var(--color-text);
  width: 430px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-end-end-radius: 7px;
  border-end-start-radius: 7px;
  height: 470px;
  background-color: var(--third-color);
  z-index: 2;
  
}

.container .bg-title {
  background-color: var(--second-color);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: 1;
}
.bg-title h1 {
  color: var(--color-text2);
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px;
}
.div-input {
  background-color: var(--third-color);
  width: 98%;
  display: flex;
  align-items: center;
  margin: 5px 0px 12px 5px;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 7px 2px -5px rgba(0, 0, 0, 0.30);
  border-radius: 5px;
  position: relative;
}

.div-input img {
  margin-left: 14px;
  width: 20px;
  height: 20px;
}
.input-task {
  width: 98%;
  height: 30px;
  padding: 24px 0px 24px 10px;
  outline: none;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: var(--third-color);
  color: var(--color-text3);
}
.input-task::placeholder {
  font-family: "Poppins";
  color: var(--color-text3);
}
.box-task {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 98%;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  height: 50px;
  overflow: hidden;
}
.box-task p {
  font-size: 14px;
  color: var(--color-text3);
  white-space: nowrap;
  overflow: hidden;
}
.box-task .checked-false {
  border-radius: 3px;
  width: 22px;
  height: 20px;
  border: 1px solid var(--primary-color);
  margin-left: 14px;
  margin-right: 10px;
  cursor: pointer;
}
.checked-true {
  background-color: var(--second-color);
  border-radius: 3px;
  width: 22px;
  height: 20px;
  border: 1px solid var(--primary-color);
  margin-left: 14px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.checked-true img {
  max-width: 100%;
  width: 13px;
  height: 13px;
}
.delete {
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
  background-color: var(--third-color);
  margin-left: 10px;
}
.delete img {
  max-width: 100%;
  width: 20px;
  height: 20px;
}
.header,
.footer {
  height: 70px;
  display: flex;
}
.header {
  width: 100%;
  padding: 7px 40px 7px 40px;
  justify-content: space-between;
  align-items: center;
}
.header .img-logo {
  width: 80px;
  height: 40px;
}
.header .img-modo-claro {
  width: 35px;
  height: 35px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.footer {
  width: 100%;
  padding: 20px 30px 20px 20px;
  justify-content: flex-end;
}
.footer p {
  font-size: 14px;
  color: var(--primary-color);
}
.footer p a {
  text-decoration: none;
  color: var(--primary-color);
}
.footer p a:hover {
  color: var(--second-color);
}
.warn {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  color: var(--color-text);
}
.container-warn {
  background-color: var(--second-color);
  width: 250px;
  padding: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 7px;
  position: absolute;
  bottom: 90px;
  right: 70px;
  animation: go-back 2s;
}
@keyframes go-back {
  0% {
    transform: translateX(70px);
  }
  100% {
    transform: translateX(0);
  }
}
.container-warn .warn-text {
  font-size: 14px;
  color: #fff;
}

@media (max-width: 460px) {
  .main {
    width: 100%;
  }
  .container {
    width: 95%;
    margin: 0px 11px 0px 11px;
    height: 435px;
  }
  .input-task {
    width: 90%;
    padding: 23px 0px 23px 10px;
  }
  .div-input {
    margin: 5px 0px 8px 5px;
  }
  .box-task {
    height: 45px;
  }
}
